.button:focus{
  background-color: #3766E8;
  color: white;
}
.box-center.MuiBox-root.css-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0px 0px 100px 0px;
}
.MuiBox-root.css-l8ek96 {
  display: flex;
  justify-content: center;
  align-items: center;
}
h3.MuiTypography-root.MuiTypography-h3.newh3.css-10q8p5r-MuiTypography-root {
  margin: 0 auto;
}
p.MuiTypography-root.MuiTypography-body1.css-1dq8qfr-MuiTypography-root {
  margin: 0 auto;
}